[submodule "fastapi-authentication"]
	path = fastapi-authentication
	url = https://github.com/HaagChristian/fastapi-authentication.git
[submodule "web-services-db"]
	path = web-services-db
	url = https://github.com/HaagChristian/web-services-db.git
[submodule "WebServices-Frontend"]
	path = WebServices-Frontend
	url = https://github.com/xNeroXx/WebServices-Frontend.git
