[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
pydantic = { version = "*", extras = ["email"] }
sqlalchemy = "*"
cryptography = "*"
bcrypt = "3.2.2"
pytz = "*"
pyjwt = "*"
pymysql = "1.1.0"
passlib = "*"



[dev-packages]
pytest = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.11"
